* {
  margin: 0;
  padding: 0;
  font: Arial;
}

.top-navigation {
  display: flex;
  align-items: center;
}

.google-logo {
  padding: 17px 14px;
}

form {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 3px;
  border-color: #c5c5c5;
  padding: 0 16px;
}

input {
  font-size: 16px;
  border: none;
  outline: none;
}

input[name="q"] {
  height: 48px;
  width: 490px;
}

input[type="image"] {
  padding: 0 8px;
  vertical-align: middle;
  max-width: 24px;
  max-height: 24px;
}

button[type="submit"] {
  border: none; 
}

button[type="submit"] img {
  padding: 0 8px;
  max-width: 17px;
  max-height: 17px;
  vertical-align: middle;
}
